html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  /* height: unset !important; */
  background-color: #190e2899;
  overflow: hidden;
}

svg {
  vertical-align: baseline !important;
}

.mapboxgl-map {
  width: auto !important;
}

.mapboxgl-control-container {
  display: none;
}
